body {
    background-image: url(misc/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", monospace;
}