body {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    background-image: url("../misc/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#topbar {
    color: white;
    text-shadow: 2px 2px #326c2b;
}


#wrapper {
    border: solid 4px;
    border-color: #234F1E;
    background-color: #234F1E;
    border-radius: 3px;
    margin: auto;
    margin-top: 10px;
    width: 900px;
    height: 550px;
    opacity: 0.5;
}